* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: beige;
}

.slider {
    position: relative;
    width: 1300px;
    max-width: 100vw;
    overflow: hidden;
    margin: auto;
    height: 300px;
}

.slider .list {
    position: absolute;
    width: max-content;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: 1s;
}

.slider .list img {
    width: 1300px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.slider .buttons {
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.slider .prev, .slider .next {
    font-size: 1.5rem;
    color: white;
    background-color: rgba(136, 136, 136, .7);
    padding: 10px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.slider .dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.slider .dots li {
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
    transition: .5s;
}

.slider .dots li.active {
    width: 30px;
}